<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AHK_Builder_Plus_Plus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AHK_Builder_Plus_Plus.Properties.Settings>
            <setting name="BoxCenterHorizontalPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxCenterVerticalPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxSizeInPixels" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ahkToggleKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTier" serializeAs="String">
                <value>0</value>
            </setting>
        </AHK_Builder_Plus_Plus.Properties.Settings>
    </userSettings>
</configuration>